<div class="flex center justify-between top-div">
  <div class="back-div">
 <%= link_to controller: 'categories', action: 'index' do %>
 <%= image_tag('002-back.png', alt: 'Example Image', class:'back-icon') %>
 <% end %>
 </div>
  <h2 class="white btn-primary">TRANSACTIONS</h2>
  <div class="actions ">
  </div>
  </div>

  <div class="flex center justify-between white-bck">
  <div class="back-div">
 <%= image_tag @category_info[:icon], alt: 'Category Icon', class: "back-icon" %>
 </div>
<div class="color-three"><p> <%= @category_info[:name] %></p></div>
  <div class="color-three">
  <p>Total: <%= number_to_currency(@total_amount, precision: 2, unit: '$') %>
</p>
  </div>
  </div>

<% @budget_transactions.each do |transaction| %>
  <div class="flex center justify-between  white-bck top">
  <div class="color-three">
  <%= transaction.name %>
 </div>
  <h2 class="color-three"> <%= number_to_currency(transaction.amount, precision: 2, unit: '$') %>
</h2>
  </div>
<% end %>

<div class="flex center flex-col footer-div"><div class="full-width bottom-btn"><%= link_to 'Add Transaction', new_category_budget_transaction_path(@category), class: 'white btn-primary' %></div></div>

