<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="flex center justify-between top-div">
  <div class="back-div">
  <%= link_to root_url do %>
 <%= image_tag('002-back.png', alt: 'Example Image', class:'back-icon') %>
 <% end %>
 </div>
  <h2 class="white btn-primary">LOG IN</h2>
  <div class="actions ">
    <%= f.submit "Next", class: "next-btn white btn-primary" %>
  </div>
  </div>
  <div class="white-bck">
 <div class="field full-width">
    
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-field fuller-width", placeholder:"Email" %>
  </div>

 <div class="field full-width">
   
    <%= f.password_field :password, autocomplete: "current-password",class:"form-field fuller-width", placeholder:"Password"%>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field full-width">
      <%= f.check_box :remember_me, class:"self-center first-color btn-primary" %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
</div>
<% end %>

<%= render "devise/shared/links" %>
