<div class="flex center justify-between top-div">
  <div class="back-div">
 <%= image_tag('001-hamburger.png', alt: 'Example Image', class:'back-icon') %>
 </div>
  <h2 class="white btn-primary">CATEGORIES</h2>
  <div class="actions ">
  <% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, class:"white btn-primary", data: { turbo_method: :delete } %>
<% end %>
  </div>
  </div>


<% @categories.each do |category| %>
 <%= link_to category_budget_transactions_path(category) do %>
<div class="flex center justify-between white-bck self-center">
  <div class="back-div">
 <%= image_tag(category.icon, alt: 'Category Icon', class: "back-icon" )%>
 </div>
<div class="color-three"><p> <%= category.name %></p></div>
  <div class="color-three">
  <p>Total: <%= number_to_currency(category.total_amount, precision: 2, unit: '$') %>
</p>
  </div>
  </div>

  <div>
  <% end %>
  <% end %>
<div class=" footer-div"><div class="full-width bottom-btn"><%= link_to 'Add a new category', new_category_path, class: 'white btn-primary' %></div></div>

